.mob-line {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #3f4e65;
  opacity: 0.2;
}
.mob-line2 {
  position: absolute;
  top: 107px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #3f4e65;
  opacity: 0.2;
}
.mob-upheader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__burger {
    font-size: 0;
    background: #ffc85e;
    border-radius: 1000px;
    width: 32px;
    height: 32px;
    &_span {
      position: absolute;
      width: 12px;
      height: 2px;
      top: 27px;
      left: 10px;
      background: #ffffff;
      &:nth-child(1) {
        top: 32px;
      }
      &:nth-child(2) {
        top: 37px;
      }
    }
  }
}

.mob-downheader {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-around;
  &__logotype {
    transform: scale(0.8);
    width: 156px;
    height: 66px;
    background: url(../../assets/Logo.svg);
  }
  &__cart-link {
    transform: translate(0.8);
    position: relative;
    width: 41px;
    height: 29px;
    background-color: unset;
    margin: 4px 30px 0 0;
    &_img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: url(../../assets/Cart.svg);
    }
    &_count {
      text-align: center;
      position: absolute;
      top: -8px;
      right: -10px;
      width: 26px;
      height: 26px;
      padding: 1px;
      border-radius: 50%;
      background: #ffc85e;
      border: 3px solid #ffffff;
      color: #ffffff;
      font-weight: 700;
      line-height: 17px;
    }
  }
  &__catalog {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    img {
      margin-right: 10px;
    }
  }
  &__search {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    img {
      margin-right: 10px;
    }
  }
}
