.cards {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 21px;
  }
}
.card {
  width: 326px;
  height: 490px;
  background: #ffffff;
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 23px;
  &__image-wrapper {
    height: 228px;
    width: 100%;
  }
  &__image {
  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #111111;
    margin: 15px 0 10px 0;
  }

  &__title {
    font-size: 16.5px;
    font-weight: 700;
  }

  &__details {
    &_item {
      margin: 4px 0 4px 0;
      span {
        font-weight: 700;
        margin-left: 5px;
      }
    }
  }

  &__payload {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  &__cost {
    font-weight: 800;
    font-size: 16px;
    line-height: 130%;
    color: #111111;
  }

  &__add {
    margin-left: 15px;
    width: 153px;
    height: 45px;
    background: #ffc85e;
    border-radius: 80px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    color: #ffffff;
    padding-right: 25px;
    &_icon {
      position: absolute;
      width: 24px;
      height: 17px;
      top: 12px;
      right: 27px;
      background: url(../../assets/cart-white.svg);
    }
  }
}
