.footer {
  width: 100%;
  min-height: 500px;
  background-color: #3f4e65;
}
.columns {
  display: flex;
  justify-content: space-between;
  &__item {
    margin: 71px 40px 0px 0px;
  }
}
.about {
  &__logo {
    width: 156px;
    height: 66px;
    background: url(../../assets/logo-white.svg);
    margin-bottom: 15px;
  }

  &__desc {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 45px;
    &_next {
      font-weight: 300;
      font-size: 12px;
      color: #ffffff;
      margin-bottom: 14px;
    }
  }

  &__input {
    position: relative;
    &_field {
      background: #ffffff;
      border-radius: 36px;
      width: 282px;
      height: 59px;
      padding: 20px;
    }
    &_btn {
      position: absolute;
      top: 10px;
      right: 33px;
      background: #ffc85e;
      border-radius: 50%;
      width: 39px;
      height: 39px;
    }
    &_icon {
      position: absolute;
      top: 22px;
      right: 47px;
      width: 8px;
      height: 15px;
      background: url(../../assets/arrow.svg);
    }
  }
}
.menu {
  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
  }
  &__link {
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 20px;
  }
}
.categories {
  display: flex;
  flex-direction: column;
  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
  }

  &__link {
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 20px;
  }
}
.price-list {
  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
  }
  &__button-wrapper {
    position: relative;
  }
  &__button {
    position: relative;
    width: 200px;
    height: 59px;
    font-weight: 700;
    line-height: 17px;
    background: #ffc85e;
    border-radius: 79px;
    color: #ffffff;
    padding-right: 21px;
    margin-bottom: 20px;
    &_icon {
      position: absolute;
      top: 22px;
      right: 45px;
      width: 15px;
      height: 15px;
      background: url(../../assets/price.svg);
    }
  }

  &__desc {
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 20px;
  }

  &__messangers {
    position: relative;
    &_wu {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 39px;
      height: 39px;
      background: url(../../assets/wu.svg);
    }

    &_tg {
      position: absolute;
      top: 0px;
      left: 49px;
      width: 39px;
      height: 39px;
      background: url(../../assets/tg.svg);
    }
  }
}
.contacts {
  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
  }

  &__item {
    margin-bottom: 20px;
    span {
      font-weight: 300;
      color: #ffffff;
      &:nth-child(1) {
        font-weight: 600;
      }
      &:nth-child(3) {
        font-size: 12px;
      }
      &:nth-child(5) {
        font-weight: 400;
        font-size: 10px;
        text-decoration-line: underline;
      }
    }
  }

  &__payload {
    position: relative;
    &_visa {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 61px;
      height: 39px;
      background: url(../../assets/Visa.svg);
    }

    &_master {
      position: absolute;
      top: 0px;
      left: 71px;
      width: 61px;
      height: 39px;
      background: url(../../assets/master.svg);
    }
  }
}
