@import url(../scss/_variables.scss);
@import url(../scss/resetstyle.scss);
@import url(../components/header/Header.scss);
@import url(../components/footer/Footer.scss);
@import url(../components/categories/Categories.scss);
@import url(../components/cards/Cards.scss);
@import url(../components/filter/Filter.scss);

* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3f4e65;
  line-height: 150%;
}
.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  font-size: 14px;
}
