@import url(../scss/_variables.scss);
@import url(../scss/resetstyle.scss);
@import url(../components/header/Header.module.scss);
@import url(../components/headerMobile/HeaderMobile.module.scss);
@import url(../components/footer/Footer.module.scss);
@import url(../components/categories/Categories.module.scss);
@import url(../components/cards/Cards.module.scss);
@import url(../components/filter/Filter.module.scss);
@import url(../pages/catalog/Catalog.module.scss);
@import url(../components/sort/Sort.module.scss);
@import url(../components/adress/Adress.module.scss);
@import url(../pages/item/Item.module.scss);
@import url(../pages/cart/Cart.module.scss);
@import url(../components/pagination/Pagination.module.scss);

* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3f4e65;
  line-height: 150%;
}
.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  @media (max-width: 1400px) {
    margin: 0px 30px 0px 30px;
  }
}
